---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">¿Tienes una duda en particular? <strong>Estamos para ayudarte</strong></h2>
		</Col>
	</Row>
	<Row>
		<Col span="3">
			<Card
				title="Soporte a Clientes"
				subtitle="¿Tienes algun problema con tu poliza? ¿Tienes alguna pregunta o duda? Te ayudamos"
				icon="rocket"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://api.whatsapp.com/send/?phone=525536677774&text&type=phone_number&app_absent=0"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Ventas"
				subtitle="¿Estás interesado en alguno de nuestros productos? Chatea con nosotros! "
				icon="document-text"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://api.whatsapp.com/send/?phone=525536677774&text&type=phone_number&app_absent=0"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Coaching Ejecutivo"
				subtitle="¿Tienes alguna pregunta de nuestro servicio de Coaching Ejecutivo?"
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://api.whatsapp.com/send/?phone=525536677774&text&type=phone_number&app_absent=0"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Dudas en General"
				subtitle="¿Tienes alguna otra pregunta y crees que te podemos ayudar? ¡Adelante!"
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://api.whatsapp.com/send/?phone=525536677774&text&type=phone_number&app_absent=0"
			/>
		</Col>
	</Row>
</Section>
