---
// Basic Light Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, a rating and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import Ratings from '../../ui/Rating.astro'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="¿Estás interesado en un producto?"
				text="Nuestros asesores siempre están aquí para ayudarte"
				classes="!shadow-none"
			>
				<Ratings rating={5} text="Mas de 1,500 clientes satisfechos" classes="mb-4" />
				<a href="agendar-cita"><Button size="lg" style="primary"> Obtener asesoría </Button></a>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
