---
/* Seccion 1 del PPR */
import { Icon } from 'astro-icon/components'
---
<section class="border-b">
     <div class="container mx-auto px-6 py-20">
        <!-- DOS COLUMNAS -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div class="justify-center text-lg text-slate-400">
            <h3>Cuando el ahorro tiene propósito, toma un sentido real.</h3>
            <p class="mt-4">
                El ahorro deja de ser algo pasivo, como <i>"guardar lo que sobra"</i>, y se convierte en una <strong>decisión activa y clara</strong>. Estableces una meta, un plazo y una aportación específicas para construir tu patrimonio y acercarte a los proyectos que deseas vivir
            </p>
            <h3>¿Para quién es ideal?</h3>
            <p class="text-center md:text-justify">
            Ideal para personas que ya tienen el hábito de ahorrar o necesitan formarlo. <strong>Tú estableces una cantidad a ahorrar periódicamente y un plazo</strong> para cumplir metas financieras como:
            <ul class="mt-10 space-y-6">
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="streamline-ultimate-color:building-2" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Comprar un departamento
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="streamline-ultimate-color:airplane-mode" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                    Un gran viaje
                </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="streamline-ultimate-color:house-chimney" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                    Remodelar tu casa
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="streamline-ultimate-color:tags-favorite" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                    Pagar tu boda...  O cualquier objetivo de mediano/largo plazo.
                  </span>
              </li>
            </ul>
            </p>
          </div>
          <div class="text-lg text-slate-400">
            
            <h3>¿Cómo funciona?</h3>
            <ul class="mt-10 space-y-6">
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="streamline-ultimate-color:calendar-edit-1" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Definimos <strong>tu meta</strong> y la fecha objetivo
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="streamline-ultimate-color:accounting-bill-stack-1" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Establecemos tu <strong>aportación periódica</strong> (quincenal/mensual).
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="streamline-ultimate-color:app-window-clock" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Elegimos el <strong>plazo</strong>: 10, 15, 20 años o más.
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="streamline-ultimate-color:money-bag-dollar" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                     Al vencimiento del plan, <strong>recibes el ahorro pactado desde el principio</strong>.
                  </span>
              </li>
            </ul>
            <p class="mt-4">
              Dejamos atrás la noción de que ahorrar es simplemente "guardar lo que sobre" o <strong>una acción automática y sin dirección</strong>. Se convierte, en cambio, en una <strong>decisión financiera consciente, estratégica y profundamente personal</strong>. Es la hoja de ruta que define tu futuro. <br><br>En Prime Idea Asesores, te acompañamos en cada paso del proceso, desde la definición de tu meta hasta el cumplimiento de tu objetivo.
            </p>
          </div>
        </div>

    </div>
    </section>