---
// Seccion de tarjetas de retiro
// ------------
// Description: A grid 
// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'
// - Cards
import udis        from '../../../assets/ahorro/udis.png'
import dolaruco    from '../../../assets/ahorro/dolar.png'
import fondoinv    from '../../../assets/ahorro/fondosinv.png'


---
<Section id="features" padding="none" classes="pb-0">
    <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100 mb-6 mt-4">
       Beneficios principales: <strong>tú decides cómo invertir</strong>
    </h2>
    <Row>
        <Col span="4" classes="flex flex-col gap-6">
           
            <div class="flex h-full flex-col border border-neutral-100 dark:border-neutral-800 rounded-2xl">
                <Image src={udis} alt="Fondos garantizados en UDIs" class="mx-auto w-40 mt-6" />
                <div class="px-6 pb-6 pt-2 md:px-8 md:pb-8 md:pt-2 text-center">
                    <h3 class="text-xl font-bold text-neutral-800 dark:text-neutral-100 mb-4">Fondos garantizados en UDIs</h3>
                    <p class="text-neutral-600 dark:text-neutral-400 leading-relaxed">Para que tu dinero no pierda valor a causa de la inflación.</p>
                </div>
                
            </div>
		</Col>
        <Col span="4" classes="flex flex-col gap-6">
            <div class="flex h-full flex-col border border-neutral-100 dark:border-neutral-800 rounded-2xl">
                <Image src={dolaruco} alt="Es Dedudible de Impuestos" class="mx-auto w-40 mt-6" />
                <div class="px-6 pb-6 pt-2 md:px-8 md:pb-8 md:pt-2 text-center">
                    <h3 class="text-xl font-bold text-neutral-800 dark:text-neutral-100 mb-4">En dólares</h3>
                    <p class="text-neutral-600 dark:text-neutral-400 leading-relaxed">Para protegerte frente a posibles devaluaciones,  tu dinero se mantiene en dólares.</p>
                </div>
                
            </div>
		</Col>
        <Col span="4" classes="flex flex-col gap-6">
            <div class="flex h-full flex-col border border-neutral-100 dark:border-neutral-800 rounded-2xl">
                <Image src={fondoinv} alt="Es Dedudible de Impuestos" class="mx-auto w-40 mt-6" />
                <div class="px-6 pb-6 pt-2 md:px-8 md:pb-8 md:pt-2 text-center">
                    <h3 class="text-xl font-bold text-neutral-800 dark:text-neutral-100 mb-4">En fondos de inversión</h3>
                    <p class="text-neutral-600 dark:text-neutral-400 leading-relaxed">Para buscar mayor crecimiento, rendimientos y diversificación en portafolios seguros.</p>
                </div>
                
            </div>
		</Col>
    </Row>
</Section>

<style>
	.page-header {
		@apply mx-auto max-w-3xl;
	}
	.page-header__text {
		@apply text-lg leading-relaxed;
	}
</style>