---
import { Icon } from 'astro-icon/components'
---
<section>
    <div class="container mx-auto px-6 py-12">
      <div class="items-center justify-center text-lg">
        <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100 mb-6 mt-4">
          Protección opcional - <strong>para que el plan no se rompa</strong>
        </h2>
        <p class="mt-4">
          Si tú lo decides, puedes contar con coberturas por <strong>accidentes, enfermedades que causen invalidez y muerte</strong> 
        </p>
        <p class="mt-4">
         Y también puedes ahorrar en pareja: ambos aportan su plan plan, y pueden cubrirse por <strong>fallecimiento e invalidez</strong> en un esquema igualitario.
        </p>
        <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100 mb-6 mt-4">¿Qué incluye el <strong>Fondo de Ahorro Inteligente</strong>?</h2>
        <ul  class="mt-10 space-y-6">
          <li class="flex items-start gap-4">
            <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="streamline-ultimate-color:desktop-monitor-smiley" class="size-6 text-blue-600 dark:text-blue-400" />
            </div>
            <p class="leading-relaxed">Sesión de definición de meta y diseño del plan.</p>
          </li>  
          <li class="flex items-start gap-4">
              <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="streamline-ultimate-color:gesture-double-tap" class="size-6 text-blue-600 dark:text-blue-400" />
              </div>
              <p class="leading-relaxed">Recomendación de estructura (monto, plazo, aportación y estrategia).</p>
          </li>
          <li class="flex items-start gap-4">
            <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="streamline-ultimate-color:love-it-flag" class="size-6 text-blue-600 dark:text-blue-400" />
            </div>
            <p class="leading-relaxed">Integración de coberturas (en caso de que aplique).</p>
          </li>
          <li class="flex items-start gap-4">
            <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="streamline-ultimate-color:love-it-flag" class="size-6 text-blue-600 dark:text-blue-400" />
            </div>
            <p class="leading-relaxed">Plan de acción simple para arrancar y sostener el hábito.</p>
          </li>
        </ul>
        <p class="mt-4">
          Nos comprometemos a entregarte un resumen claro del plan con: meta, plazo, aportación, estrategia de inversión y coberturas. <strong>Prime Idea Asesores</strong>  te ofrece la tranquilidad de que nuestros planes están guiados por los valores que creemos que son fundamentales: <strong>Honestidad, Confianza y Conocimiento</strong>. 
        </p>
      </div>
    </div>
</section>