---
import { Icon } from 'astro-icon/components'
---
<section class="border-b">
    <div class="container mx-auto px-6 py-4">
        <!-- DOS COLUMNAS -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="justify-center text-lg text-slate-400">
                <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100 mb-6 mt-4">
                    Beneficios clave
                </h2>
                <ul  class="mt-10 space-y-6">
                  <li class="flex items-start gap-4">
                      <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                          <Icon name="streamline-ultimate-color:desktop-monitor-smiley" class="size-6 text-blue-600 dark:text-blue-400" />
                      </div>
                      <p class="leading-relaxed">Optimización de inversiones: Maximiza los rendimientos de tus inversiones actuales.</p>
                  </li>  
                  <li class="flex items-start gap-4">
                      <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                          <Icon name="streamline-ultimate-color:gesture-double-tap" class="size-6 text-blue-600 dark:text-blue-400" />
                      </div>
                      <p class="leading-relaxed">Portafolio blindado: Desarrolla un portafolio robusto y resistente a las fluctuaciones del mercado.</p>
                  </li>
                  <li class="flex items-start gap-4">
                      <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                          <Icon name="streamline-ultimate-color:love-it-flag" class="size-6 text-blue-600 dark:text-blue-400" />
                      </div>
                      <p class="leading-relaxed">Independencia económica temprana: Alcanza tu libertad financiera en un horizonte de tiempo menor al proyectado.</p>
                  </li>
                  <li class="flex items-start gap-4">
                      <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                          <Icon name="streamline-ultimate-color:love-it-flag" class="size-6 text-blue-600 dark:text-blue-400" />
                      </div>
                      <p class="leading-relaxed">Ingresos adicionales: Diseña estrategias fiscales y de inversión para generar ingresos anuales suplementarios.</p>
                  </li>
                  <li class="flex items-start gap-4">
                      <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                          <Icon name="streamline-ultimate-color:love-it-flag" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                      <p class="leading-relaxed">Vigencia del plan: Asegura un plan financiero dinámico y actualizado a tus necesidades a lo largo del tiempo.</p>
                  </li>
                </ul>
                 <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100 mb-6 mt-4">Duración y seguimiento:</h2>
                 <p>3 meses con sesiones semanales (con información preparada previamente).</p>
                 <p>Después: 3 sesiones trimestrales (marzo, julio y septiembre 2026).</p>
                 <p>Finalmente: 1 sesión anual de 2027 a 2040.</p>
            </div>
            <div class="text-lg text-slate-400"> 
                <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100 mb-6 mt-4">Componentes del Servicio</h2>
                <ul class="mt-10 space-y-6">
                  <li class="flex items-start gap-4">
                      <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                          <Icon name="streamline-ultimate-color:desktop-monitor-smiley" class="size-6 text-blue-600 dark:text-blue-400" />
                      </div>
                      <p class="leading-relaxed">Estrategia integral: Diseño de una estrategia diversificada, con tácticas de implementación claras para el logro de tus metas.</p>
                  </li>  
                  <li class="flex items-start gap-4">
                      <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                          <Icon name="streamline-ultimate-color:gesture-double-tap" class="size-6 text-blue-600 dark:text-blue-400" />
                      </div>
                      <p class="leading-relaxed">Acompañamiento directivo (tipo CFO Personal): Revisiones trimestrales de desempeño, lertas proactivas sobre oportunidades o riesgos, soporte en la toma de decisiones financieras importantes y ajustes inmediatos a la estrategia ante cambios en tu situación personal
                      </p>
                  </li>
                  <li class="flex items-start gap-4">
                      <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                          <Icon name="streamline-ultimate-color:love-it-flag" class="size-6 text-blue-600 dark:text-blue-400" />
                      </div>
                      <p class="leading-relaxed">Compromiso de confianza: Total confidencialidad y claridad en las responsabilidades del proceso de coaching.</p>
                  </li>
                </ul>
                <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100 mb-6 mt-4">Tu resultado final:</h2>
                <p class="leading-relaxed">Incluye: <br><br><strong>1) Plan Maestro Financiero</strong> (incluye estrategia de inversión y fiscal).<br> <strong>2) Tablero de seguimiento</strong> con KPIs. <br><strong>3) Plan <i>Vivo</i></strong> de optimización continua.
                </p>
            </div>
        </div>
    </div>
</section>