---
/* Seccion 1 del PPR */
import { Icon } from 'astro-icon/components'
---
<section class="border-b">
    <div class="container mx-auto px-6 py-20">
        <!-- DOS COLUMNAS -->
        <div class="grid grid-cols-1 md:grid-cols-1 gap-8">
            <div class="justify-center text-lg text-slate-400">
                <h3><strong>Claridad, Estrategia, seguimiento y decisiones</strong>: así es fomentamos el crecimiento de tu patrimonio, ingresos y activos</h3>
                <p class="md:text-justify">
                   Existe una razón crucial y a menudo incómoda por la que el coaching financiero está ganando tanta relevancia a nivel mundial: la responsabilidad de la planeación para el retiro y las decisiones financieras ha sido transferida del sistema a la persona.
                </p>
                <p class="md:text-justify">
                    Un ejemplo claro es EE.UU., donde la disponibilidad de planes de pensión tradicionales cayó del 28% al 24% entre 2013 y 2023, mientras que los planes donde el individuo asume la responsabilidad aumentaron del 56% al 63%.
                 </p>
                 <p class="md:text-justify">
                    A pesar de este cambio, los datos de la OCDE indican que solo el 34% de los adultos alcanza el nivel mínimo de alfabetización financiera.
                 </p>
                 <p class="md:text-justify">
                    Por ello, el coaching financiero se ha convertido en una "nueva ventaja" esencial. Permite transformar tu vida económica en un sistema eficaz basado en: claridad, estrategia, seguimiento y decisiones con un rumbo definido.
                </p>
                <h3>¿Para quién está diseñado?</h3>
                <p class="md:text-justify">
                    Ideal para personas que buscan maximizar y optimizar sus recursos actuales, establecer metas financieras precisas e implementar una estrategia de inversión con seguimiento riguroso (KPIs) y ajustes dinámicos según se requiera.
                </p>
                <h3>Metodología</h3>
                <p class="md:text-justify">
                    Se implementa un Plan Integral de Retiro Inteligente, cuya efectividad se mide a través de KPIs específicos y se somete a optimización constante para asegurar el cumplimiento de la trayectoria financiera.
                </p>
            </div>
        </div>  
    </div>
</section>