---
import { Icon } from 'astro-icon/components'
---
<section>
  <div class="container mx-auto px-6 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-lg">
      <div class="text-slate-400">
        <h3>Opción 1: Blindaje Empresarial</h3>
        <p class="mt-4">
          <strong>Objetivo Principal:</strong> Asegurar la continuidad operativa y el crecimiento sostenido del negocio.
        </p>
        <p class="mt-4">
          <strong>Cobertura:</strong> Protección de flujos financieros y obligaciones, seguridad de personas clave y socios, y preparación para la continuidad ante cualquier evento crítico.
        </p>
      </div>
      <div class="text-slate-400">
        <h3>Opción 2: Blindaje Familiar</h3>      
        <p class="mt-4">
          <strong>Objetivo Principal:</strong>  Garantizar la estabilidad y continuidad del ingreso para la tranquilidad de la familia.
        </p>
        <p class="mt-4">
          <strong>Cobertura:</strong>Protección del ingreso familiar, el patrimonio, planes de retiro, la educación de los hijos, la seguridad del hogar y el legado.
        </p>
      </div>
    </div>
  </div>
</section>
