---
/* Seccion 1 del PPR */
import { Icon } from 'astro-icon/components'
---
<section class="border-b">
    <div class="container mx-auto px-6 py-20">
        <!-- DOS COLUMNAS -->
        
            <div class="justify text-lg text-slate-400">
                
                <p class="text-justify">
                   En cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, su reglamento y demás disposiciones aplicables (“La Ley”), se pone a disposición de los interesados (“El Titular”) que por cualquier motivo entreguen a Mariana Carballo Montalvo (“EL Asesor") datos personales, el siguiente:
                </p>
                <h3>Aviso de Privacidad</h3>
                <pre style="white-space: pre-wrap;">
<strong>1. Identidad y Domicilio:</strong> 
2. Datos personales y personales sensibles proporcionados por ti que serán sometidos al tratamiento correspondiente:  
a. Datos personales: Datos de Identificación, Datos de Contacto, Datos Laborales, Datos Sobre Características Físicas, Datos académicos, Datos Patrimoniales o Financieros y Datos Biométricos.
b. Datos personales sensibles: Datos de Salud (presente y futura), afiliación sindical, preferencia sexual, migratorios, datos sobre procedimientos administrativos seguidos en forma de juicio y/o jurisdiccionales y geolocalización.

<strong>3. Finalidades Primarias del tratamiento:</strong> 

a. Los Datos Personales y Datos Personales Sensibles de Clientes y Prospectos serán tratados para analizar los riesgos o las circunstancias financieras para, en su caso, celebrar acuerdos entre El Titular y El Asesor; cumplir obligaciones derivadas de los contratos de seguros celebrados de conformidad con lo establecido en la Ley sobre el Contrato de Seguro y normatividad aplicable;  servicio, mantenimiento, renovación, apoyo y asesoría durante la relación contractual con El Titular, atención y dictamen de siniestros; cumplir cualquier obligación derivada de una relación jurídica presente o futura entre El Titular y la aseguradora; respuesta a entidades o autoridades financieras y judiciales mexicanas y extranjeras, con la finalidad de dar cumplimiento a nuestras obligaciones derivadas de leyes o tratados internacionales, obligaciones tributarias, así como el cumplimiento de notificaciones o requerimientos oficiales o de carácter judicial; prevención de fraudes y operaciones con recursos de procedencia ilícita; estudios estadísticos; evaluar la calidad de nuestros productos y servicios; así como acceso y servicios a través de medios electrónicos (Apps y portales).
b. Los Datos Personales y Datos Personales Sensibles de colaboradores y candidatos serán tratados para evaluar una posible relación entre El Titular y El Asesor (diferente a la derivada de un contrato de seguro), así como mantener, modificar o concluir una relación  ya existente, selección, reclutamiento, capacitación, desarrollo, pagos de prestaciones laborales  y cumplimiento de obligaciones fiscales y judiciales, evaluar la calidad de nuestros beneficios y procesos, así como para estudios estadísticos.

c. Los Datos Personales de visitantes de nuestras instalaciones serán tratados para los fines vinculados con el acceso, control y seguridad dentro de las instalaciones del Asesor.

d. Los Datos Personales y Datos Personales Sensibles de proveedores o prestadores de bienes y/o servicios serán tratados para todos los fines vinculados con la relación que se celebren entre El Asesor con el Titular; así como evaluar la calidad de nuestros productos y servicios.

<strong>4. Finalidades Secundarias del tratamiento, distintas a aquellas necesarias para el cumplimiento de la obligación jurídica que se tenga:</strong> 

Los Datos Personales pueden ser utilizados con Fines mercadotécnicos o publicitarios para ofrecer otros productos, servicios y promociones.

En caso de que no obtengamos tu oposición expresa para que tus Datos Personales sean tratados también con estas finalidades, entenderemos que se ha otorgado tu consentimiento para ello.

<strong>5. Opciones y medios para limitar el uso y/o divulgación de tus Datos Personales:</strong>

i. Puedes manifestar tu negativa o revocar tu consentimiento para que tus Datos Personales sean tratados para Fines mercadotécnicos o publicitarios durante el proceso de asesoría o durante la contratación de la póliza en los formatos de solicitudes de seguro. Si este aviso de privacidad no se te dio a conocer de manera directa o personal, tienes un plazo de cinco días naturales a partir de que El Asesor recabó los Datos Personales, para manifestar tu negativa para el tratamiento con las finalidades secundarias, utilizando los medios mencionados anteriormente.  

También puedes inscribirse en el Registro Público de Usuarios (REUS) a cargo de la <strong>CONDUSEF</strong>, para ello puedes visitar su página de Internet o contactarla directamente.

Se entenderá que tu solicitud de revocación/negativa de consentimiento fue debidamente atendida al momento de que El Asesor emita una respuesta.

<strong>6. Transferencia de Datos:</strong> 

Tus datos personales podrán ser transferidos para las finalidades primarias y secundarias descritas anteriormente en los numerales 3 y 4. Las categorías de entidades o individuos y sus finalidades a las que el Asesor realiza transferencias son:

a. Para las finalidades del cumplimiento de la relación jurídica celebrada o por celebrar, los datos personales a que se refiere este aviso podrán ser transferidos a:

i. Empresas afiliadas de El Asesor como New York Life Insurance Company y Seguros Monterrey S.A. de C.V.

ii. Autoridades e Instituciones gubernamentales mexicanas y extranjeras, con la finalidad de dar cumplimiento a nuestras obligaciones derivadas de leyes o tratados internacionales como asesor de seguros, obligaciones tributarias, así como el cumplimiento de notificaciones o requerimientos oficiales.

iii. Instituciones, organizaciones, entidades del sector asegurador o reaseguradores para fines de selección de riesgos, cumplimiento de obligaciones, prevención de fraudes y operaciones con recursos de procedencia ilícita, así como para información estadística de conformidad con la Ley sobre el Contrato de Seguro y normatividad vigente.

iv. Instituciones bancarias y demás entidades financieras con la finalidad de dar cumplimiento a la relación contractual que se tenga con el Titular.

v. Proveedores de servicios en la evaluación de una posible relación con el Titular y/o para el cumplimiento de las obligaciones de El Asesor con Clientes, colaboradores y proveedores.

vi. Agentes, con la finalidad de dar servicio, asesoría y apoyo en la actualización, renovación, mantenimiento, trámites, pagos, siniestros, reembolsos y servicios adicionales como intermediario entre los clientes y la aseguradora.

vii. Promotores, con la finalidad de dar servicio, asesoría y apoyo a los agentes para que puedan cumplir con las obligaciones contractuales vigentes.

b. Transferencias que requieren consentimiento:

Para el caso de Clientes y Prospectos, El Asesor requerirá el consentimiento para transferir: información de saldos de las pólizas y en algunos casos información de siniestros a los agentes.

<strong>7. Cookies, Web Beacons, Pixeles y tags de Seguimiento:</strong>

Las “cookies” mejoran la facilidad de navegación en nuestros sitios. "Cookie" es el término para los identificadores alfanuméricos que un servidor web transfiere a tu computadora a través de su navegador de Internet.

Cuando tu navegador de Internet visita una página web, se genera una cookie con un número único y anónimo para reconocer a su navegador, el cual se almacena en el directorio de cookies de su unidad de disco duro. Las "cookies" pueden ser permanentes (se conservan en su computadora hasta que las borre) o temporales (duran sólo hasta que el usuario cierre su navegador o por un período limitado).

El Asesor en sus sitios Web utiliza cookies para grabar la información de sus preferencias de navegación, así como información técnica (número de visitas, flujo de visitas, selecciones y opciones ejecutadas mediante el mouse o dispositivo equivalente), dicha información es anónima, de tal manera que no se identifica personalmente a los usuarios, únicamente a sus equipos de cómputo.

Las cookies pueden ser habilitadas o deshabilitadas a través de las opciones de su equipo de cómputo y/o navegador de Internet. Sin embargo, en caso de desactivar esta opción, es posible que no se pueda acceder a algunas de las funciones personalizadas de nuestros sitios Web.

“Web Beacons”, también conocidos como Clear GIF (Graphics Interchange Format) o pixel tag: son líneas de código muy cortas mediante las cuales se envían imágenes, que se incluyen en las páginas Web o correos electrónicos con formato HTML. La finalidad de estos Web Beacons es rastrear la actividad de los usuarios en los correos para saber si un usuario recibió y abrió los mensajes también permiten conocer la efectividad de la publicidad que se muestra en páginas Web o correos electrónicos. Los web Beacons tampoco guardan información que permita la identificación de una persona.

<strong>8. Procedimiento y medios para poner a su disposición el Aviso de Privacidad y sus modificaciones:</strong> 

El presente Aviso, así como sus modificaciones, estarán a tu disposición en la página en la sección de Aviso de Privacidad y en su caso, podrán ser enviados a cualquiera de las direcciones de correo electrónico, domicilio o número telefónico que el Titular haya proporcionado a El Asesor.

En caso de alguna inquietud respecto del tratamiento de Datos Personales, puedes consultar al Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI) en www.inai.org.mx.
 
<strong>DEFINICIONES</strong>

Clientes y Prospectos: solicitantes, contratantes, asegurados, beneficiarios, fideicomitentes, fideicomisarios, proveedores de recursos y aquellos interesados en la contratación de un producto o servicio que han proporcionado información a El Asesor.


Consentimiento:  Manifestación de la voluntad del Titular de los datos mediante la cual se efectúa el tratamiento de los mismos por parte de El Asesor.

Datos académicos: Trayectoria educativa, títulos, cédula profesional, certificados y reconocimientos, entre otros.

Datos biométricos: Huellas dactilares, el análisis del ADN y la forma e impresión de la firma o de la escritura.


Datos de características físicas: Sexo, tipo de sangre, ADN, huella dactilar u otros análogos, color de piel, señas particulares, estatura, peso, complexión, discapacidades, entre otros.

Datos de contacto: Domicilio, correo electrónico, teléfonos, entre otros.

Datos de identificación: Nombre, domicilio, teléfono particular, teléfono celular, correo electrónico, estado civil, firma, firma electrónica, RFC, CURP, lugar de nacimiento, fecha de nacimiento, nacionalidad, edad y/o fecha de nacimiento, fotografía, costumbres o hábitos, identificación oficial, información de familiares, dependientes, beneficiarios, referencias y contactos de emergencia, entre otros.


Datos de salud: Estado de salud, historial clínico, alergias, antecedentes patológicos y enfermedades, información relacionada con cuestiones de carácter psicológico y/o psiquiátrico, incapacidades médicas, intervenciones quirúrgicas, embarazos, cesáreas, deformidades, vacunas, consumo de sustancias tóxicas, uso de aparatos oftalmológicos, ortopédicos, auditivos y prótesis, historial médico familiar, entre otros.

Datos laborales: Documentos de reclutamiento y selección, de nombramientos, cargo o puesto, domicilio de trabajo, correo electrónico institucional, teléfono institucional, actividades extracurriculares, referencias laborales, fechas de ingreso y salida del empleo, descripción de labores, medio de trabajo y materiales utilizados, giro, actividad u objeto social, experiencia profesional, entre otros.

Datos Patrimoniales o Financieros: Bienes muebles e inmuebles, información fiscal, historial crediticio, ingresos y egresos, cuentas bancarias, seguros, números de tarjeta de crédito o débito, origen del patrimonio, ingresos anuales; entre otros.

Datos Personales: Cualquier información concerniente a una persona física identificada o identificable.

Datos Personales Sensibles: Aquellos datos personales que afecten a la esfera más íntima de su Titular, o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. En particular, se consideran sensibles aquellos que puedan revelar aspectos como origen racial o étnico, estado de salud presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia sexual entre otros.


Fines mercadotécnicos o publicitarios: la utilización de la información del Titular o el ofrecimiento de productos y servicios financieros realizado directamente por El Asesor, o a través de
prestadores de servicios contratados por ellas, mediante Publicidad, Promoción o Telemarketing.

La Ley: la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.

Promoción: la comunicación directa dirigida a los Titulares con el objeto de hacer de su conocimiento beneficios adicionales o asociados a la contratación de nuevos productos y/o servicios.

Publicidad: la comunicación directa dirigida a los Titulares, que tiene por objeto informar, divulgar noticias o anuncios de carácter comercial con el propósito de comunicarles las características generales de los productos y/o servicios ofrecidos por El Asesor.

Telemarketing: la publicidad que se lleva a cabo mediante la comunicación vía telefónica que entabla El Asesor directamente  con los Titulares, con el objeto de ofrecer productos y/o servicios.

Titular: La persona física a quien corresponden los datos personales.

Transferencia: Toda comunicación de Datos Personales realizada a persona distinta de El Asesor.

Fecha de última actualización: Febrero 2026
                </pre>
       </div>

    </div>
</section>