---
// Hero Fondo de Ahorro Inteligente ALV
// ------------
// Description: A centered testimonial section that contains: a quote, a caption and a cite in a dark section with a background image.

// Components
// - Layout
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import calendar from  '../../../assets/wihitecal.svg'
import Highlight from '../../ui/Highlight.astro'

---
<section class="bg-slate-950 text-white overflow-hidden">
  <div class="container mx-auto px-6 py-16 md:py-24 grid md:grid-cols-2 gap-10 items-center">
    
    <!-- IMAGEN -->
    <div class="order-1 md:order-2 relative">
      <img 
        src="/hero/graduado.jpg" 
        alt="Asesoría financiera profesional"
        class="w-full h-64 md:h-[420px] object-cover rounded-2xl shadow-2xl"
      />
      <div class="absolute inset-0 bg-gradient-to-t md:bg-gradient-to-l from-slate-950/70 via-slate-950/40 to-transparent rounded-2xl"></div>
    </div>

    <!-- TEXTO -->
    <div class="order-2 md:order-1">
      <h1 class="text-3xl md:text-5xl font-extrabold leading-tight text-white">
        Fideicomiso Educativo
        <span class="block text-white text-3xl">Educación <strong>asegurada </strong>con doble protección</span>
      </h1>

      <p class="mt-5 text-base md:text-lg text-slate-300 max-w-xl">
        Un plan que combina tu ahorro + tu tranquilidad y se traduce en la educación de tus hijos con doble protección.
      </p>

      <div class="flex-col">
        <a href="/agendar-cita" target="_blank">
          <ChipNotification 
            radius="rounded-full" 
            classes="!bg-slate-700 hover:!bg-slate-600 !border !border-white/10" >
            <Image src={calendar} alt="Optimaxx Plus" class="h-12 w-14" slot="button" />
            <span class="text-white">Agenda para&nbsp;</span>
            <Highlight classes="md:ml-2">Plan Vida Mujer</Highlight>
          </ChipNotification>
        </a>
      </div>
    </div>
  </div>
</section>