---
/* Seccion 1 del PPR */
import { Icon } from 'astro-icon/components'
---
<section class="border-b">
    <div class="container mx-auto px-6 py-20">
        <!-- DOS COLUMNAS -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="justify-center text-lg text-slate-400">
                <h3>Hay decisiones que no se sienten como finanzas. Se sienten como amor ❤️</h3>
                <p class="md:text-justify">
                    Porque cuando piensas en <strong>la educación de tus hijos</strong>, no estás pensando en números: <strong>estás pensando en su futuro</strong>, en sus oportunidades, <strong>en la vida que quieres ofrecerles.</strong>.
                </p>
                <p class="md:text-justify">
                    Un Fideicomiso Educativo convierte esa intención en un plan real y sólido: monto, plazo, aportación y estrategia.
                </p>
                <p class="md:text-justify">
                    Y lo más valioso es que puede darte <strong>doble protección</strong>: proteger el dinero y proteger la meta, incluso si la vida cambia o hay grandes imprevistos.
                </p>
                <h3>¿Cómo funciona?</h3>
                <ul class="mt-10 space-y-6">
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:award-ribbon-star-1" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                            Definimos la meta educativa (etapa, escuela, costo estimado).
                        </span>
                    </li>
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:accounting-coins" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                            Establecemos tu aportación periódica (mensual/quincenal).
                        </span>
                    </li>
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:single-neutral-circle" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                            Elegimos el plazo según la edad del estudiante: 5, 10, 15, 20 años o más.
                        </span>
                    </li>
                     <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:cash-briefcase" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                            Diseñamos la estructura para que, al llegar la fecha, tengas el fondo listo para usarse en educación.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="text-lg text-slate-400">  
                <h3>¿Qué significa la doble protección?</h3>
                <ul class="mt-10 space-y-6">
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:money-wallet-open" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                            <strong>Protección de tu dinero</strong>: tu ahorro puede estructurarse para protegerse ante inflación y devaluación, según la estrategia que elijas.
                        </span>
                    </li>
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:single-woman-home" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                            <strong>Protección de tu familia</strong>: si ocurre una eventualidad (fallecimiento o invalidez), el plan puede incluir coberturas para que la educación no se detenga.
                        </span>
                    </li>
                </ul>
                <h3>¿Para quién es ideal?</h3> 
                <p class="text-center md:text-justify">
                   Ideal para papás, mamás o tutores que quieren:
                </p>    
                <ul class="mt-10 space-y-6">
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:cash-payment-bills-1" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                            Asegurar colegiaturas para la universidad.
                        </span>
                    </li>
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:laptop" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                            Cubrir inscripción, materiales, equipo de computo, intercambios o posgrado.
                        </span>
                    </li>
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:skull" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                            Planear sin estrés y sin depender de “a ver cómo nos va este año”.
                        </span>
                    </li>
                </ul>   
            </div>
        </div>  

    </div>
</section>