---
/* Seccion 1 del PPR */
import { Icon } from 'astro-icon/components'
---
<section class="border-b">
    <div class="container mx-auto px-6 py-20">
        <!-- DOS COLUMNAS -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="justify text-lg text-slate-400">
                <h3>Tu vida es multifacética. <strong>Tu protección también debería serlo.</strong></h3>
                <p class="text-justify">
                    Ser mujer implica un constante ejercicio de equilibrio: la trayectoria profesional, la familia, la salud, la relación de pareja, los objetivos... y, además, no desatender el bienestar personal. La magnitud de las responsabilidades es considerable.
                </p>
                <p class="text-justify">
                    Este producto ha sido concebido considerando esta realidad, con el fin de que no tenga que elegir entre su cuidado personal y la continuidad de sus demás compromisos.
                </p>
                <p class="md:text-justify">
                    Se trata de un plan integral que da apoyo en los aspectos más relevantes: su salud, su tranquilidad y su porvenir.
                </p>
                <ul class="mt-10 space-y-6">
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:human-resources-rating-woman" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                           <strong>Adelantos para Celebraciones</strong>: La vida trae grandes alegrías. Tienes la posibilidad de solicitar adelantos de tu ahorro en momentos clave como tu matrimonio o la llegada de un bebé.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="text-lg text-slate-400">  
                <h3>Doble Beneficio: <strong>Protección y Ahorro</strong></h3>
                <p class="text-justify">
                    Este producto te ofrece una ventaja única que te respalda tanto en los momentos difíciles como en los felices:
                </p>
                <p class="text-justify">
                <strong>1. Respaldo ante Padecimientos Femeninos 💗</strong><br>
                Tu salud es primordial. Contarás con una protección financiera específica para enfrentar cualquier eventualidad o enfermedad femenina, evitando que tu bienestar se convierta en una carga económica.<br><br>
                <strong>2. Ahorro Flexible y Utilizable 💰</strong><br>
                Además de la protección, construyes un ahorro con beneficios pensados para ti:
              
                </p>
                <ul class="mt-10 space-y-6">
                    <li class="flex items-center gap-4">
                        <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                            <Icon name="streamline-ultimate-color:cash-payment-bills-1" class="size-6 text-blue-600 dark:text-blue-400" />
                        </div>
                        <span class="text-slate-400">
                           <strong>Disponibilidad Anticipada</strong>: Puedes recuperar el dinero ahorrado a partir del quinto año.
                        </span>
                    </li>
                    
                </ul>   
            </div>
        </div>  

    </div>
</section>