---
/* Seccion 1 del PPR */
import { Icon } from 'astro-icon/components'
---
<section class="border-b">
     <div class="container mx-auto px-6 py-20">
        <!-- DOS COLUMNAS -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div class="justify-center text-lg text-slate-400">
            <h3>¿Por qué es importante tener un Plan de Retiro Inteligente?</h3>
            <p class="mt-4">El <strong>Plan Personal de Retiro (PPR)</strong> es una herramienta que te permite ahorrar e invertir para tu retiro, con beneficios fiscales y flexibilidad para adaptarlo a tus necesidades.<br /><br /> 
            Las pensiones <strong>actuales solo garantizan el 30% de tu último sueldo</strong>, es importante complementar tu ahorro para mantener tu calidad de vida en el retiro.
             <br /><br />
             <p class="text-center md:text-justify"><strong>Construye un futuro sin sacrificar tu estilo de vida. Nosotros te asesoramos para que puedas lograrlo.</strong></p>
             <h3>El Retiro no es un Destino, es un Diseño</h3>
             <p class="mt-4">Imagina a dos personas con la misma trayectoria profesional y el mismo nivel de ingresos. Al llegar a los 60 años, sus realidades son opuestas: una depende de la inercia del sistema; la otra, disfruta de una <strong>estrategia ejecutada con precisión</strong>. La diferencia no fue el dinero, <strong>fue la intención</strong>.</p>
             <h3>Lógralo con un Plan de Retiro Inteligente ¡Cotiza ahora!</h3>
            <p class="mt-4">En <strong>Prime Idea Asesores</strong> te ayudamos a completar tu ahorro para el retiro, con un Plan Personal de Retiro que se adapta a tus necesidades y a tu estilo de vida. En <strong>Prime Idea Asesores</strong> estamos para apoyarte en cada paso del proceso.</p>
          </div>
          <div class="text-lg text-slate-400">
            
            <h3>Un Plan Inteligente de Retiro a la Medida de tu estilo de vida</h3>
            <ul class="mt-10 space-y-6">
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="microphone" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Atención y Asesoría Personalizada
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="cursor-arrow-ripple" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Contratación en Línea
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="user-group" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Acompañamiento Profesional
                  </span>
              </li>
            </ul>
            <p class="mt-4">
              <strong>Un Plan Inteligente de Retiro no es un candado</strong>, es una herramienta de optimización patrimonial y fiscal. No es algo reservado para unos pocos, es la decisión lógica de quien entiende que el tiempo es el activo más valioso en una inversión.
              <ul class="mt-10 space-y-6">
                Diseñamos tu retiro bajo cuatro pilares:<br>
                <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="scale" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Claridad Legislativa: Navegamos el marco fiscal por ti.
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="shield-check" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Protección Real: Blindaje total ante devaluación y riesgos de vida.
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="credit-card" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Ejecución Invisible: Un plan que trabaja en segundo plano mientras tú vives.
                  </span>
              </li>
              <li class="flex items-center gap-4">
                  <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                      <Icon name="empty-star" class="size-6 text-blue-600 dark:text-blue-400" />
                  </div>
                  <span class="text-slate-400">
                      Resultados por Diseño: Tú eliges el monto y la edad; nosotros trazamos el cómo.
                  </span>
              </li>
              </ul>

            </p>
          </div>
        </div>

    </div>
    </section>