---
import { Icon } from 'astro-icon/components'
---
<section>
    <div class="container mx-auto px-6 py-12">
      <div class="items-center justify-center text-lg">
        <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100 mb-6 mt-4">
          Nuestros Valores a tu servicio -  <strong>Honestidad, Confianza y Conocimiento</strong>
        </h2>
        <p class="mt-4">
          En <strong>Prime Idea Asesores</strong>, nuestro objetivo es guiarte para que en tu proceso de elección encontremos la mejor solución para ti, que te de libertad y seguridad y que siempre se ajuste a tu estilo de vida sin sacrificios. 
        </p>  
        <p class="mt-4">
         Diseñamos estrategias que aportan valor real en tu vida. <strong>En nuestras sesiones nos centramos en entender que lo que quieres lograr</strong>, comprendemos tu momento y proponemos estrategias financieras diseñadas para ti y, además, comiences a vivir los beneficios desde tu presente. 
        </p>
        <p class="mt-4"> 
<strong>Nuestros valores son la base de todo lo que hacemos y son lo que nos distingue de los demás</strong>.
        </p>
        <ul  class="mt-10 space-y-6">
          <li class="flex items-start gap-4">
            <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="streamline-ultimate-color:desktop-monitor-smiley" class="size-6 text-blue-600 dark:text-blue-400" />
            </div>
            <p class="leading-relaxed"><strong>Soluciones con propósito:</strong> Nos enfocamos en encontrar lo que te suma. Si tu situación actual requiere una solución diferente a un PPR, te guiaremos con total transparencia hacia la opción que mejor proteja tu patrimonio.</p>
          </li>  
          <li class="flex items-start gap-4">
              <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="streamline-ultimate-color:gesture-double-tap" class="size-6 text-blue-600 dark:text-blue-400" />
              </div>
              <p class="leading-relaxed"><strong>Claridad en cada paso:</strong> Explicamos cada alternativa en lenguaje sencillo, para que entiendas lo que estás decidiendo. Nuestro conocimiento está a tu servicio. 
              </p>
          </li>
          <li class="flex items-start gap-4">
            <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="streamline-ultimate-color:love-it-flag" class="size-6 text-blue-600 dark:text-blue-400" />
            </div>
            <p class="leading-relaxed"><strong>Acompañamiento:</strong> Escuchamos, comprendemos y proponemos soluciones prácticas que se adaptan a tu vida, asegurando que cada paso sea firme y bien fundamentado.</p>
          </li>
        </ul>
      </div>
    </div>
</section>