---
/* Seccion 1 del PPR */
import { Icon } from 'astro-icon/components'
---
<section class="border-b">
    <div class="container mx-auto px-6 py-20">
        <div class="justify text-lg text-slate-400">
            <h3>Contacto</h3>

        </div>
    </div>
</section>