---
import { Icon } from 'astro-icon/components'
---
<section>
  <div class="container mx-auto px-6 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-lg">
      <div>
        <h3>Acerca de Mariana Carballo</h3>
        <p>Soy economista y cuento con un MBA, con más de 20 años de experiencia profesional en roles directivos dentro de empresas transnacionales.</p>
        <p>Desde hace más de 3 años me especializo en asesoría financiera para el retiro, acompañando a empresarios, directivos, fundadores y empleados en general a entender, estructurar y tomar decisiones informadas sobre su estrategia patrimonial a largo plazo.</p>
        <p>Mi trabajo se centra en brindar claridad y acompañamiento profesional, combinando planeación financiera con un enfoque práctico que considera tanto los objetivos económicos como el contexto personal de cada persona.</p>
        <p>Creo que una mejor planeación para el retiro comienza con información clara, decisiones conscientes y asesoría bien acompañada, sin promesas irreales ni soluciones genéricas.</p>
      </div>
      <div class="flex justify-center">
        
        <img src="https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/f2LNsAAlgF38IQtfvd5F/media/688ad4aaa4c55ff39852aefc.png" alt="Mariana Carballo" width="450">
      </div>
    </div>
  </div>
</section>
